body{
   background-color: #F7CAC9 ; 
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.photos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.photos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}

.main {
    width: 100%;
    text-align: center;
}

.main img {
    max-width: 100%;
    height: auto;
}